

.recentCard{
    padding: 0px 30px;
    text-align: left;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.recents{
    scroll-behavior: smooth;
}

/* .recentCard>div>a>h1{
    margin-bottom: -10px;
} */

.recentCard>div>a{
    text-decoration: none;
    color: black;
}

.deleteImage{
    width: 40px;
    height: 40px;
}

.deleteImage:hover{
    cursor: pointer;
}

.recentHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.addContact{
    width: 30px;
    height: 30px;
}

.recentHeading>img:hover{
    cursor: pointer;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:20px;
	background-color:#0C9;
	color:#fcfafa;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:200px;
	right:20px;
	background-color:rgb(0, 48, 204);
	color:#fcfafa;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float2{
	margin-top:22px;
}